small {
  font-size: 12px;
  line-height: 18px;
  color: #4f4f4f;
}
label {
  margin-bottom: 12.33px;
  font-size: 14px;
  line-height: 21px;
}

.underline {
  text-decoration-line: underline;
  cursor: pointer;
}
.pl-0 {
  padding-left: 0px;
}
.pr-20 {
  padding-right: 20px;
}
.ml-6 {
  margin-left: 6px !important;
}
.pt4 {
  padding-top: 4px !important;
}
.ml-44 {
  margin-left: 44px !important;
}
.ml-109 {
  margin-left: 109px !important;
}
.mt-200 {
  margin-top: 200px !important;
}
.mt-120 {
  margin-top: 120px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.ml-12 {
  margin-left: 12px !important;
}
.mr-35 {
  margin-right: 35px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mt-35 {
  margin-top: 35px;
}
.mt-13 {
  margin-top: 13px !important;
}
.mt-55 {
  margin-top: 55px !important;
}
.mt-53 {
  margin-top: 53px !important;
}

.mr5 {
  margin-right: 5px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-45 {
  margin-top: 45px;
}
.h-18 {
  height: 18px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-33 {
  margin-top: 33px !important;
}

.ml-10 {
  margin-left: 10px !important;
}
.cursor-pointer {
  cursor: pointer;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.mt-16 {
  margin-top: 16px !important;
}

.ml-86 {
  margin-left: 86px !important;
}
.align-left {
  text-align: left !important;
}
.height-20 {
  height: 20px;
}

.dis-flex {
  display: flex !important;
}

.mt-227 {
  margin-top: 227px !important;
}
.h-200 {
  height: 200px !important;
}
.dis-none {
  display: none !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-0 {
  padding-top: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}
.pb-20 {
  padding-bottom: 20px;
}
.ml-50 {
  margin-left: 50px !important;
}
.ml-20 {
  margin-left: 20px;
}
.w-70 {
  width: 70% !important;
}
.pl3 {
  padding-left: 3px;
}
.ml-0 {
  margin-left: 0px;
}
.ml-15 {
  margin-left: 15px;
}
.pl-2 {
  padding-left: 2px !important;
}
.mr-15 {
  margin-right: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}
.pl-20 {
  padding-left: 20px !important;
}
.mb-15 {
  margin-bottom: 15px;
}

.mr-30 {
  margin-right: 30px;
}
.mt15per {
  margin-top: 15%;
}

.h-40 {
  height: 40px !important;
}
.pl-15 {
  padding-left: 15px;
}
.ml-55 {
  margin-left: 55px !important;
}
.ml-90 {
  margin-left: 90px !important;
}
.ml-75 {
  margin-left: 75px !important;
}
.no-padding {
  padding: 0 !important;
}
.overflow-hidden {
  overflow: hidden;
}

.display-none {
  display: none;
}
//Colors
.curious-blue {
  color: #2d9cdb;
}

.emperor {
  color: #4f4f4f;
}

.silver {
  color: #bdbdbd;
}

.midnight-blue {
  color: #022e73;
}

.alto {
  color: #e0e0e0;
}

.fresh-eggplant {
  color: #8b008b;
}

.gray {
  color: #828282;
}

.mine-shaft {
  color: #333333;
}

.white {
  color: #ffffff;
}

.green-vogue {
  color: #042860;
}

.black {
  color: #000000;
}

.black-approx {
  color: #050505;
}

.yellow {
  color: #f2c94c;
}

//line height
.lh-190 {
  line-height: 190.65%;
}

.lh-120 {
  line-height: 120%;
}

.lh-130 {
  line-height: 130%;
}

.lh-140 {
  line-height: 140%;
}

.lh-150 {
  line-height: 150%;
}

.lh-24 {
  line-height: 24px;
}

.lh-21 {
  line-height: 21px;
}

//Font-sizes
.size-12 {
  font-size: 12px;
  font-style: normal;
}

.size-14 {
  font-size: 14px;
  font-style: normal;
}

.size-16 {
  font-size: 16px;
  font-style: normal;
}

.size-18 {
  font-size: 18px;
  font-style: normal;
}

.size-20 {
  font-size: 20px;
  font-style: normal;
}

.size-22 {
  font-size: 22px;
  font-style: normal;
}

.size-24 {
  font-size: 24px;
  font-style: normal;
}
.size-50 {
  font-size: 50px;
}

.size-34 {
  font-size: 34px;
  font-style: normal;
}

//Font-weights
.wt-400 {
  font-weight: 400;
}

.wt-500 {
  font-weight: 500;
}

.wt-600 {
  font-weight: 600;
}
.wt-800 {
  font-weight: 800;
}
.fz-20 {
  font-size: 20px !important;
}

.empty-store-heading {
  font-weight: bold;
  font-size: 22px;
  line-height: 190.65%;
  align-items: center;
  color: #022e73;
}

.empty-store-content {
  font-weight: normal;
  font-size: 16px;
  line-height: 190.65%;
  align-items: center;
  color: #022e73;
}

.active-completed-status {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 1px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 190.65%;
  align-items: center;
  color: #ffffff;
  background: #022e73;
}
.incomplete-status-no {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 1px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 190.65%;
  align-items: center;
  color: #ffffff;
  background: #bdbdbd;
}
.col-bdbdbd {
  color: #bdbdbd !important;
}
.col-022e73 {
  border: 2px solid #022e73 !important;
}

.active-status-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 190.65%;
  align-items: center;
  color: #022e73;
  margin-left: 3px;
}

.status-border-style {
  border: 2px solid #bdbdbd;
  width: 100px;
  margin-left: 7px;
}

.mt-25 {
  margin-top: 25px;
}
.align-items-center {
  align-items: center;
}
.word-break {
  word-break: break-all;
}

.sec-button-text {
  font-size: 16px;
  line-height: 24px;
  color: #4c516e;
}
.font-13 {
  font-size: 13px !important;
}
.mr-20 {
  margin-right: 20px;
}
.h-100 {
  height: 100%;
}
.p-15 {
  padding-left: 18px;
  padding-right: 18px;
}

.mt4 {
  margin-top: 4px;
}
.job-list-head {
  font-size: 18px;
  line-height: 130%;
  align-items: center;
  color: #4f4f4f;
}

.list-table-continer {
  background: rgba(108, 113, 135, 0.1);
  border: 1px solid rgba(130, 130, 130, 0.1);
  box-sizing: border-box;
  padding: 13px 25px 12px 25px;
  height: 45px;
  font-size: 14px;
  line-height: 130%;
  align-items: center;
  color: #4f4f4f;
}
.ml-30 {
  margin-left: 30px;
}
.mb-8 {
  margin-bottom: 8px;
}
.wdth-454 {
  width: 454px !important;
}
.width-215 {
  width: 215px !important;
}
.width-180 {
  width: 180px !important;
}
.mt-8 {
  margin-top: 8px;
}
.list-main-container {
  background: rgba(242, 242, 242, 0.3);
  border: 1px solid rgba(130, 130, 130, 0.3);
  box-sizing: border-box;
  height: 77px;
  padding: 24px 25px 24px 25px;
  font-size: 18px;
  line-height: 150%;
  align-items: center;
  color: #4f4f4f;
  cursor: pointer;
}
.list-main-container:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.more-opt-btn:hover {
  background: #f3f3f3;
}

.count-text-box {
  font-size: 16px;
  line-height: 130%;
  color: #828282;
}

.dropdown-set {
  transform: translate3d(220px, 26px, 0px) !important;
  border-radius: 0px !important;
}

.dropdown-set-change {
  transform: translate3d(220px, 49px, 0px) !important;
  border-radius: 0px !important;
}

.checkout-box-container {
  background: #f8f8f8;
  border-radius: 8px;
  padding: 10px;
}

.checkout-head-text {
  line-height: 190.65%;
  align-items: center;
  color: #022e73;
  font-weight: 500;
  font-size: 22px;
}

.checkout-content-text {
  font-size: 18px;
  line-height: 150%;
  align-items: center;
  color: #4f4f4f;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-underline {
  text-decoration-line: underline;
  cursor: pointer;
}

.mt5per {
  margin-top: 5% !important;
}

.mt10per {
  margin-top: 10% !important;
}

.input-group-text {
  border-radius: 0px;
}

.app-color {
  color: #022e73;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.d-none {
  display: none;
}

.width-270 {
  width: 270px !important;
}

.width-85 {
  width: 85px !important;
}

.h-17 {
  height: 17px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.w-bold {
  font-weight: bold !important;
}

.w-210 {
  width: 210px !important;
}
.ml-27 {
  margin-left: 27px !important;
}
.pb-7 {
  padding-bottom: 7px !important;
}

.w-94 {
  width: 94px !important;
}
.max-w-300 {
  max-width: 300px !important;
}
